@font-face {
    font-family: "nevis";
    src: url("fonts/nevis.eot");
    src: url("fonts/nevis.eot?#iefix") format("embedded-opentype"), url("fonts/nevis.wof") format("wof"), url("fonts/nevis.ttf") format("truetype"), url("fonts/nevis.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "fjalla";
    src: url("fonts/FjallaOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icons';
    src: url('fonts/websymbols-regular-webfont.eot');
    src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/websymbols-regular-webfont.woff') format('woff'), url('fonts/websymbols-regular-webfont.ttf') format('truetype'), url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(../imgs/paven.png);
}

.clearfix {
    float: none;
    clear: both;
}

.icon {
    font-family: icons;
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}

.red {
    color: #9b2422 !important;
}

.orange {
    color: #d69d2a !important;
}

.blue {
    color: #0c73f2 !important;
}

input[type="text"],
input[type="password"] {
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #ccc inset;
    background-color: white;
    padding: 1px;
    color: gray;
    transition: all .3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border: 1px solid #70b231;
    color: black;
}

input[type="submit"] {
    display: block;
    border-radius: 2px;
    width: 60px;
    padding: 3px;
    background-color: #70b231;
    border: 1px solid green;
    cursor: pointer;
    color: white;
}

input[type="submit"]:hover {
    box-shadow: 0px 0px 2px gray;
}

input[type="submit"]:active {
    box-shadow: 0px 0px 3px gray inset;
    text-shadow: 0px 0px 1px #ccc;
}

a {
    color: #529125;
    text-decoration: none;
}

a:hover {
    color: #285616;
}

a:visited {
    color: #529125;
}


/* HEADER ------------------- */

header {
    height: 250px;
    margin: 0px auto;
    min-width: 1024px;
    width: 100%;
    font-family: nevis;
    text-transform: uppercase;
    letter-spacing: 10px;
}

header #logo {
    width: 50%;
    margin: 0px auto;
    padding: 20px;
}

header #logo img {
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 140px;
}

header h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 5px;
    text-shadow: 0px 2px 1px #333333;
    transition: all .300s;
}

header h1:hover {
    text-shadow: 0px 2px 1px #333333, 0px 0px 4px #70b231;
}

header h1 a {
    text-decoration: none;
    color: #70b231;
}


/* HEADER ------------------- */


/* MENU ------------------- */

#menu {
    min-width: 1250px;
    width: 100%;
    background-color: #333333;
    color: white;
    height: 40px;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}

#menu ul {
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 1060px;
}

#menu>ul>li {
    line-height: 40px;
    float: left;
    border-right: 1px solid gray;
}

#menu>ul>li:hover {
    background-color: #70b231;
    box-shadow: 0px 0px 4px gray inset;
    transition: all .3s;
}

#menu>ul>li a:first-child {
    border-left: 1px solid gray;
}

#menu>ul>li a {
    color: white;
    text-decoration: none;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}


/* DESPLEGABLE ----*/

#menu>ul>li>ul {
    display: none;
    position: absolute;
    width: 160px;
    box-shadow: 0px 2px 2px gray;
    z-index: 1;
}

#menu>ul>li:hover>ul {
    display: block;
}

#menu>ul>li:hover>ul>li {
    background-color: #f2f1f0;
    border-bottom: 1px solid #d6d6d6;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all .3s;
}

#menu>ul>li:hover>ul>li a {
    color: #666;
    border: none;
}

#menu>ul>li:hover>ul>li:hover {
    /* box-shadow: 0px 0px 6px #ccc inset;*/
    background-color: #ccc;
}


/* DESPLEGABLE ----*/


/* MENU ------------------- */

#content {
    width: 1250px;
    min-height: 1100px;
    margin: 0px auto;
}


/* LATERAL ------------------- */

#content aside {
    width: 200px;
    float: left;
    margin: 30px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 2px #ccc;
    font-family: sans-serif, Arial, Helvetica;
}

#content aside .widget {
    display: block;
    width: 180px;
    margin: 5px auto;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-bottom: 1px dashed #ccc;
}

#content aside .widget:last-child {
    margin-bottom: 20px;
}

#content aside h3 {
    display: block;
    color: #333333;
    width: 100%;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #f2f3f2;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
}


/* FORMULARIOS ------------------- */

#content aside .widget label,
#content aside .widget input[type="text"],
#content aside .widget input[type="password"],
#content aside .widget a {
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

#content aside .widget input[type="button"],
#content aside .widget input[type="submit"] {
    margin-top: 5px;
    margin-bottom: 10px;
}

#content aside .widget input,
#content aside .widget label {
    margin: 0px auto;
    text-align: center;
}

#content aside li {
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 20px;
    list-style: square;
}

#frase {
    width: 180px !important;
    padding: 10px;
    font-size: 14px;
    font-family: sans-serif;
}


/* LATERAL ------------------- */


/* CENTRAL ------------------- */

#sections {
    float: right;
    width: 75%;
    font-family: sans-serif, Arial, Helvetica;
    margin-right: 20px;
}

#sections .titulo {
    font-family: fjalla;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-top: -20px;
}

#sections section {
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #c9c9c9;
    color: #333333;
    font-size: 16px;
    overflow: hidden;
}

#sections article {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sections .date {
    color: gray;
    font-size: 14px;
}

#sections .firstSticker,
#sections .secondSticker {
    position: absolute;
    margin-top: -38px;
    z-index: 0;
}

#sections .secondSticker {
    margin-left: 860px;
}


/* CENTRAL ------------------- */

#history {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    font-family: sans-serif, Arial, Helvetica;
}

footer {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    margin-top: 40px;
    background-color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}